.products-container{
/* display: grid;
grid-template-columns:  repeat(4, 300px);; */
display: flex;
width: 100%;
flex-wrap:wrap;
gap: 20px;
justify-content: center;
align-items: center;
/* width: 300px; */
/* margin: auto; */
}

/* @media only screen and (max-width: 620px)  {
    .products-container{
        display: grid;
        grid-template-columns:  repeat(2, 300px);
        gap: 2px;

    }
} */


@media only screen and (max-width: 350px)  {
    .products-container{
        display: grid;
        grid-template-columns:  repeat(1, 400px);
        gap: 2px;
        margin-left: 0%;
        margin-right: 0%;

    }
}

@media only screen and (min-width: 620px)  {
    .products-container{
        display: grid;
        grid-template-columns:  repeat(2, 300px);
        gap: 20px;

    }
}

@media only screen and (min-width: 1200px)  {
    .products-container{
        display: grid;
        grid-template-columns:  repeat(4, 300px);
        gap: 20px;

    }
}